* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #555;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  font-size: 20px;
}

.clearfix {zoom: 1;}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.row {
  max-width: 940px;
  margin: 0 auto; 
}

section {
  padding: 80px 0;
}

/* -------------------------------------------------------------*/
/* Top Bar */
/* -------------------------------------------------------------*/

.top-bar {
  height: 6vh;
  min-height: 30px;
  background-color: #00AEEF;
  z-index: 0;
  width: 100%;
  position: fixed;
}

.top-nav {
  float: right;
  font-size: 70%;
  height: 100%;
}

.top-nav a {
  color: #Ffffff;
  text-decoration: none;
  margin-right: 30px;
}

.top-nav table {
  height: 100%;
}

.top-nav td {
  height: 100%;
}


/* -------------------------------------------------------------*/
/* Logo */
/* -------------------------------------------------------------*/

.logo {
  height: 100px;
  padding-top: 50px;
  text-align: center;
}

/* -------------------------------------------------------------*/
/* Hero */
/* -------------------------------------------------------------*/

.hero-text-box {
  position: absolute;
  width: 940px;
  top: 50%;
  left: 50%;
  color: #00AEEF;
  transform: translate(-50%, -50%);
}

.hero-text-header {
  color: #00AEEF;
  font-size: 250%;
  font-weight: 600;
}

.hero-text-subtext {
  color: #ffffffd7;
  font-size: 100%;
  font-weight: 300;
}

.hero-photo{
  height: 97vh;
  overflow: hidden;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(https://sjhsieh.github.io/norco/resources/css/images/college.jpeg);
  background-size: cover;
  background-position: 0% 10%;
  background-attachment: fixed;
}

.hero-photos img {
  width: 100%;
  margin-top: -5%;
}

/* -------------------------------------------------------------*/
/* About */
/* -------------------------------------------------------------*/

.about-header {
  color: #00AEEF;
  font-size: 140%;
  font-weight: 500;
}

.about-text {
  margin-top: 40px;
  font-size: 80%;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 150%;
}

/* -------------------------------------------------------------*/
/* Bio */
/* -------------------------------------------------------------*/

.section-bio {
  background-color: #f4f4f4;
}

.miodrag-header {
  margin-top: 40px;
  color: #00AEEF;
  margin-bottom: 20px;
  font-weight: 400;
}

.miodrag-bio {
  font-size: 80%;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.25px;
}

.miodrag-bio img {
  float: left;
  margin-right: 30px;
}

.david-bio {
  font-size: 80%;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.25px;
}

.david-header {
  color: #00AEEF;
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: 400;
}

.david-bio img {
  float: left;
  margin-right: 30px;
}

/* -------------------------------------------------------------*/
/* Contact */
/* -------------------------------------------------------------*/

.contact-text-header {
  margin-top: 40px;
  font-weight: 400;
}

.contact-link {
  margin-top: 10px;
}

.contact-link a {
  color: #00AEEF;
  text-decoration: none;
}

/* -------------------------------------------------------------*/
/* Footer */
/* -------------------------------------------------------------*/

footer {
  background-color: #333;
  padding: 50px;
  font-size: 80%;
}

footer p {
  color: #888;
  text-align: center;
  margin-top: 20px;
}